.container.mt-5
  .row
    .col-xs-12.col-md-2
      %ul.list-unstyled
        %li= link_to "Home", root_path
        -# %li= link_to "About us", "/about"
        -# %li= link_to "Manifesto", "/manifesto"
        %li= link_to "Contact us"
        
    
    .col-xs-12.col-md-2
      %ul.list-unstyled
        %li= link_to "Twitter"
        %li= link_to "Github"
        %li= link_to "LinkedIn"
        %li= link_to "Facebook"

