.form-group
  = f.label :last
  = f.text_field :last, class: "form-control"
  
.form-group
  = f.label :ask
  = f.text_field :ask, class: "form-control"

.form-group
  = f.label :bid
  = f.text_field :bid, class: "form-control"
  
.form-group
  = f.label :symbol
  = f.text_field :symbol, class: "form-control"

.form-group
  = f.label :change_24h
  = f.text_field :change_24h, class: "form-control"
  
.form-group
  = f.label :current_time
  = f.text_field :current_time, class: "form-control"
  
.form-group
  = f.label :prev_close
  = f.text_field :prev_close, class: "form-control"
  
.form-group
  = f.label :session
  = f.text_field :session, class: "form-control"

.form-group
  = f.label :status
  = f.text_field :status, class: "form-control"

.form-group
  = f.label :transition_time
  = f.text_field :transition_time, class: "form-control"

.form-group
  = f.label :volume
  = f.text_field :volume, class: "form-control"

.form-group
  = f.label :volume_24h
  = f.text_field :volume_24h, class: "form-control"